@keyframes animateWave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}

.audio-waveform-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  .bar {
    width: 2px;
    height: 100%;
    background: #6772e5;
    animation: animateWave 0.8s linear infinite;
  }

  .bar:not(:last-child) {
    margin-right: 4px;
  }
}

.bar:nth-child(odd) {
  animation-delay: 0.4s;
}
