@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './_loading-animation.scss';

.silence-detector {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.header-title {
  color: #fff;
  margin: 0;
  font-weight: 500;
}

.content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(135deg, #3f5efb, #42e695);
  background-size: 600% 100%;
  animation: gradient 60s ease infinite;
  padding: 1rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
