@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './_loading-animation.scss';

.page-layout {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.silence-detector {
  padding: 2rem;
}

.header {
  background: linear-gradient(90deg, #3f5efb, #42e695);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-title {
  color: #fff;
  margin: 0;
  font-weight: 500;
  h1 {
    color: #fff;
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3f5efb, #42e695);
  padding: 1rem;
}

.content-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.detect-silence-button {
  margin-top: 1rem;
  margin-right: auto;
}
